.container {
    border-color: #ffffff31;
}

.container:has(input:focus) {
    border-color: #ffffffda;
}

.containerApp {
    border-color: #D7DAD6;
}

.containerApp:has(input:focus) {
    border-color: #618F19;
}

