.container {
    border-color: #ffffff31;
}

.container:has(input:focus) {
    border-color: #ffffffda;
}

.containerApp {
    border-color: #D7DAD6;
}

.containerApp:has(input:focus) {
    border-color: #618F19;
}

.dateInput button svg {
    display: none;
}

.noSpinners {
    -moz-appearance: textfield;
}

.noSpinners::-webkit-outer-spin-button,
.noSpinners::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}